body {
  background-color: black;
  color: cyan;
  text-align: center;
}
#timer {
  border: 7px solid;
  display: inline-block;
  padding: 60px;
  border-radius: 15px;
}
#main {
  font-size: 15vw;
}
small {
  font-size: 3vw;
}

#timeStamps {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 4vw;
}
.entry {
  padding: 0 10px;
}
button {
  background-color: inherit;
  color: cyan;
  border: none;
  padding: 10px 12px;
  border: 1px solid;
  border-radius: 5px;
  margin-inline: 3px;
}
button:hover {
  background-color: cyan;
  color: black;
  cursor: pointer;
}

@media (min-width: 800px) {
  #main {
    font-size: 7vw;
  }
  #timeStamps {
    font-size: 1.5vw;
  }
  #timer {
    padding: 80px;
  }
}
